.header {
  width: 100%;
  background: #477491;
  color: #fff;
  border-bottom: 5px solid #fcbf45;
  font-size: 25px;
  padding: 25px 0;
  text-align: center;
}

.body{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer{
  width: 100%;
  font-size: 12px;
  line-height: 1.2;
  color: #333;
  text-align: center;
  padding: 8px 0;
  background: #f2f2f2;
}


.tipContent {
  min-height: 250px;
  font-size: 20px;
  padding: 70px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalIcon {
  margin-bottom: 20px;
}
